<p id="notice"><%= notice %></p>

<h1>Start</h1>

<div>Time: <%= Time.new %></div>
<br>
<turbo-frame id="posts" src="/posts/1"></turbo-frame>

<br>
<br>

<%= link_to 'Go to Turbo Frame Time', post_path(1) %>
