<p id="notice"><%= notice %></p>
<!--<p id="notice"><%#= flash[:redirect_from_get] %></p>-->

<h1>Start</h1>

<div>Time: <%= Time.new %></div>

<p>
  I am <span data-turbo-cache="false">NOT</span> from cache
</p>

<br>
<br>

<%= link_to 'Go to Next Page', post_path(1) %>
